<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <appSettings>
    <add key="PricingHomePage" value="/pricing/" />
    <add key="AppService" value="/pricing/details/app-service/" />
    <add key="APIManagement" value="/pricing/details/api-management/" />
    <add key="Functions" value="/pricing/details/functions/"/>
    <add key="LogicApps" value="/pricing/details/logic-apps/"/>
    <add key="Storage" value="/pricing/details/storage/blobs/"/>
  </appSettings>
    
</configuration>